body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    background-color: black;
    width: 100%;
}

nav>a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
    transition: all 0.5s;
    background-color: black;
}

nav>a:hover {
    
    transform: scale(1.2);
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texte{
    padding-left: 10px
}